aiofiles
aiohttp
alphabet_detector
apscheduler
asyncio
beautifulsoup4
better_profanity
bing_image_downloader
bleach
bs4
cachetools
cloudscraper
coffeehouse
countryinfo
CurrencyConverter
dateparser
dnspython
emoji
emoji-country-flag
envparse
faker
feedparser
ffmpeg-python
fontTools
future
fuzzysearch
geopy
git+https://github.com/python-telegram-bot/ptbcontrib.git
git+https://github.com/Sorrybabe/downloader
googletrans==4.0.0rc1
google-trans-new
gpytranslate
gtts
hachoir
heroku3
html2text
img2pdf
jikanpy
lxml
lyrics_extractor
markdown2
motor
multicolorcaptcha
nekos.py
nltk
nudepy
odmantic
opencv-python-headless
pendulum
Pillow
pretty_errors
psutil
psycopg2-binary
PyDictionary
pygithub
pykeyboard
pymongo
pynewtonmath
pyrate-limiter
pyrogram
pySmartDL
python-arq
python-telegram-bot
pytz
redis
regex
requests
search_engine_parser
secureme
spamwatch
speedtest-cli
spongemock
SQLAlchemy==1.4.31
telegraph
telethon
textblob
TgCrypto
tswift
tzlocal
ujson
wikipedia
wget
youtube_search
youtube_search_python==1.4.9
zalgo-text
